{%extends 'base.html'%}
{%block content %}
<form action="" method="POST">
<fieldset>
    {{form.hidden_tag()}}
    <h1>create un compte</h1>
    <div>
        {{form.lname.label()}}
        {%if form.lname.errors%}
        <div>
        {%for error in form.lname.errors%}
        <span>{{error}}</span>
        </div>
        {%endfor%}
        {%else %}
        {{form.lname()}}
        {%endif%}

        
    </div>
    <div>
        {{form.fname.label()}}
        {%if form.fname.errors%}
        <div>
        {%for error in form.fname.errors%}
        <span>{{error}}</span>
        </div>
        {%endfor%}
        {%else %}
        {{form.fname()}}
        {%endif%}
        
    </div>
    <div>
    {{ form.username.label() }}
    {% if form.username.errors %}
        {% for error in form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% else %}
        {{ form.username() }}
    {% endif %}
</div>
    <div>
        {{form.email.label()}}
        {%if form.email.errors%}
        <div>
        {%for error in form.email.errors%}
        <span>{{error}}</span>
        </div>
        {%endfor%}
        {%else %}
        {{form.email()}}
        {%endif%}
        
    </div>
    <div>
        {{form.password.label()}}
        {%if form.password.errors%}
        <div>
        {%for error in form.password.errors%}
        <span>{{error}}</span>
        </div>
        {%endfor%}
        {%else %}
        {{form.password()}}
        {%endif%}
        
    </div>
    <div>
        {{form.confirm_password.label()}}
        {%if form.confirm_password.errors%}
        <div>
        {%for error in form.confirm_password.errors%}
        <span>{{error}}</span>
        </div>
        {%endfor%}
        {%else %}
        {{form.confirm_password()}}
        {%endif%}
        
    </div>
     <div>
        
        {{form.submit()}}
    </div>
    <div>
        <h5>already have acount ?</h5>
        <a href="{{url_for('login')}}">sign in </a>
    </div>
</fieldset>


</form>

{%endblock%}